@media (max-width: 1301px) {

    /* header */

    header {
        padding: 6px 57px;
    }

    /* section cover */

    .section_cover {
        padding: 0 57px;
    }

    /* section 3 */

    .section3 {
        padding: 48px 57px;
    }

    .section3Section article {
        width: 49.3%;
    }

    .sec3art7, .sec3art8, .sec3art9 {
        display: none;
    }
}

@media (max-width: 835px) {

    /* header */

    header {
        padding: 6px 46px;
    }

    /* section cover */

    .section1 {
        height: 438px;
        padding: 0 46px;
    }

    /* section 2 */

   

    .sec2art3 {
        display: none;
    }

    /* section 3 */
    
    .section3 {
        padding: 40px 38px;
    }
}