@media  (max-width: 376px){
    /* header */
    Header {
        padding: 6px 14px;
    }
    /* section2 */
    .section2{
        padding: 32px 14px;
        height: 764px;
    }

    .article2conteiner{
        display: flex;
        flex-direction: column;
    }
    .section2article{
        width: 100%;
    }
    /* section3 */
    .section3{
        padding: 32px 14px;
    }
    .booktour{
        font: 24px;
        line-height: 36px;
    }
    .section3article {
        width: 100%;
    }







}